extends layout.pug

block head
  link(rel='stylesheet', href='/stylesheets/typeaheadjs.css')
  title #{device.name} :: RunCheck

block content
  br
  #message
  .container
    .row
      .col-md-6
        .panel.panel-primary
          .panel-heading
            h4 Device
          .panel-body
            include ./web/device-details.pug
      //- .container.btn-toolbar
      //- if device.checklist
      //-   button.btn.btn-space.btn-primary(id='device-add-checklist' disabled='disabled') Add Checklist
      //- else
      //-   button.btn.btn-space.btn-primary(id='device-add-checklist') Add Checklist
      //- button.btn.btn-space.btn-primary(id = 'reject-install') Reject
      //- button.btn.btn-space.btn-primary(id = 'approve-install') Approve
      //- button.btn.btn-space.btn-primary(id = 'install') Install
      //- button.btn.btn-space.btn-danger(id = 'set-not-installed') Set not installed
      .col-md-6
        .panel.panel-default
          .panel-heading
             h4 Installation
          .panel-body.hidden#install-panel
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left
              h4 Checklist
            .pull-right
              h4.fa.fa-spinner.fa-spin.hidden#checklist-spin
              button.btn.btn-primary.hidden#checklist-assign(type='button', disabled) Assign
              //- button.btn.btn-primary.hidden#checklist-unassign(type='button', disabled) Unassign
          .panel-body.hidden#checklist-panel
  //-- var notInstalled = _.get(device, 'installToDevice.id') === null && _.get(device, 'installToSlot.id') === null;
  //- .panel.panel-default(id = 'prepare-panel', class=notInstalled? '' : 'hidden')
    .panel-heading
      .btn-group
        button.btn.btn-space.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')#preInstall
          | Prepare install
          = ' '
          span.caret
        ul.dropdown-menu
          li
            a.prepare-install device
          li
            a.prepare-install slot
      strong(id = 'prepare-title')
    .panel-body
      form.form-inline.slot.hidden
        .form-group
          label Slot:
          = ' '
          .input-group
            input.form-control(type='text')
        = ' '
        button.btn.btn-space.btn-primary(type='submit', value='slot') Confirm
        button.btn.btn-space(type='reset') Cancel
      form.form-inline.device.hidden
        .form-group
          label Device:
          = ' '
          .input-group
            input.form-control(type='text')
        = ' '
        button.btn.btn-space.btn-primary(type='submit', value='device') Confirm
        button.btn.btn-space(type='reset') Cancel
//-  .well
    #irrChecklist
//- block history
  each h in device.__updates.reverse()
    +change(h, moment)
block js
  //- script(type='text/javascript', src='/typeahead.js/dist/typeahead.bundle.js')
  //- script(type='text/javascript', src='/javascripts/typeahead.js')
  script(type='text/javascript', src='/js/device-action.js')
  script(type='text/javascript', src='/js/checklistutil.js')
  script(type='text/javascript', src='/js/templates/slot-details.js')
  script(type='text/javascript', src='/js/templates/device-details.js')
  script(type='text/javascript', src='/js/templates/checklist-input.js')
  script(type='text/javascript', src='/js/templates/checklist-config.js')
  script(type='text/javascript', src='/js/templates/checklist-config-item.js')
  script(type='text/javascript') device = !{JSON.stringify(device)};
