extends layout.pug

block head
  title CCDB

block content
  .container
    h1 Central Configuration Database

    h4 For help, see to the 
      a(href=basePath + '/docs/userguide.html', target='_blank') User Guide
