include helper-mixin.pug
doctype html
html
  head
    include ./head.pug
    block head
  body
    include ./header.pug
    .container-fluid
      .row
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          block content
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          h3 History
          div(id='history')
            block history
    include ./footer.pug
    script(type='text/javascript', src=basePath + '/node_modules/moment/min/moment.min.js')
    script(type='text/javascript') var basePath = '#{basePath}';
    script(type='text/javascript', src=basePath + '/js/active-nav.js')
    //- script(type='text/javascript', src='/js/templates/change.js')
    //- script(type='text/javascript', src='/javascripts/history.js')
    block js
