doctype html
html
  head
    include ./head.pug
    block head
  body
    include ./header.pug
    block content
    include ./footer.pug
    script(type='text/javascript', src='/javascripts/active-nav.js')
    block js

