doctype html
html
  head
    include ./head.pug
    block head
  body
    include ./header.pug
    block content
    include ./footer.pug
    script(type='text/javascript', src=basePath + '/node_modules/moment/min/moment.min.js')
    script(type='text/javascript') var basePath = '#{basePath}';
    script(type='text/javascript', src=basePath + '/js/active-nav.js')
    block js
