extends layout.pug

block head
  title CCDB

block content
  .container
    .row
      h1 Central Configuration Database

    .row
      .col-md-4
        form.form(style='margin-top:20px;' method='POST')
          .form-group
            label(for='username') Username
            input.form-control#username(type='text' name='username' value=username)
          .form-group
            label(for='password') Password
            input.form-control#password(type='password' name='password')
          .form-group
            .text-danger= message
          .form-group
            input.btn.btn-primary(type='submit' name='submit' value="Login")

