extends layout.pug

block head
  link(rel='stylesheet', href='/node_modules/datatables-bootstrap/css/dataTables.bootstrap.min.css')
  title Slots :: RunCheck


block content
  .container
    br
    //-#message
      #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3#modalLabel
            .modal-body
              .panel
              form.form-inline
                label Please select one slot group:
                select.form-control
            .modal-footer
    //-form.form-inline
      button.btn.btn-primary#addGroup
        | Add to group
    //-br
    #slots.tab-pane.active
      .table-responsive
        table#slots-table.table.table-condensed.table-bordered.table-hover


block js
  script(type='text/javascript', src='/node_modules/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/node_modules/datatables-bootstrap/js/dataTables.bootstrap.min.js')
  script(type='text/javascript', src='/js/datatablesutil.js')
  script(type='text/javascript', src='/js/slots-table.js')
  //-script(type='text/javascript', src='/javascripts/slots-action.js')
