form
  table.table
    thead
      tr
        th.text-left.col-md-1
          | &nbsp;
        th.text-left.col-md-5
          | Subject
        th.text-center.col-md-2
          | Required
        th.text-left.col-md-4
          | Assignee
    tbody
      for subject in subjects
        include checklist-config-item.pug
      tr
        td(colspan='4')
          button.btn.btn-primary.cl-subject-add(type='button')
            span.glyphicon.glyphicon-plus
  .row
    .col-xs-6.text-left
       button.btn.btn-default.cl-edit-cancel(type='button') Cancel
    .col-xs-6.text-right
       button.btn.btn-primary.cl-edit-save(type="submit") Save