tr.cl-subject.form-group
  td.text-left
    if !subject.checklistId
      button.btn.btn-danger.cl-subject-remove(type='button')
        span.glyphicon.glyphicon-minus
    else
      .form-control-static
        span.like-btn.glyphicon.glyphicon-lock.cl-subject-lock
  td.text-left
    input.form-control.cl-subject-id(type='hidden', value=subject.id)
    if !subject.checklistId
      input.form-control.cl-subject-name(type='text', value=subject.subject)
    else
      span.form-control-static.cl-subject-name= subject.subject
  td.text-center
    if subject.mandatory
      input.form-control.cl-subject-required(type='checkbox', value='true', checked='checked', disabled='disabled')
    else if subject.required
      input.form-control.cl-subject-required(type='checkbox', value='true', checked='checked')
    else
      input.form-control.cl-subject-required(type='checkbox', value='true')
  td.text-left
    input.form-control.cl-subject-assignee(type='text', value=subject.assignee[0])
