extends ../layout.pug

block head
  title User Guide :: CCDB

block content
  .container
    br
    .panel.panel-primary
      .panel-heading
        h1 <center>Central Configuration Database User Guide</center>
      .panel-body
        :marked
          ## Section 1

          User Construction
